@import '../common/styles/sass/variables';

.header {
    display: flex;
    align-items: center;
    justify-content: end;
    height: 80px;
    background-color: $bg-color;
    @media screen and (max-width: 720px){
        justify-content: center;
    }
}