@import '../../common/styles/sass/variables';

.skillContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  .skill {
    user-select: none;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 20%;
    box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
    &:hover {
      transition: 0.3s;
      width: 140px;
      height: 140px;
      .logo {
        transition: 0.3s;
        width: 100px;
      }
    }
    .logo {
      transition: 0.3s;
      width: 80px;
    }
  }
  .titleSkill {
    margin-top: 20px;
    font-family: $font-style;
    color: $color-heading;
    font-size: 18px;
  }
}
