@import './src/common/styles/sass/variables';

.container {
  border: 1px solid;
  width: 400px;
  margin: 20px;
  border-radius: 20px;
  background: linear-gradient(145deg, #1e2024, #23272b);
  box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #262a2e;
  @media screen and (max-width: 488px) {
    width: 290px;
  }
  .image {
    cursor: pointer;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 350px;
    background-color: grey;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    @media screen and (max-width: 488px) {
      width: 250px;
      height: 250px;
    }

    .showProject {
      border-radius: 20px;
      user-select: none;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      height: 50px;
      width: 40%;
    }
  }

  .descriptionBlock {
    display: flex;
    margin: 20px;
    justify-content: center;

    .titleProject {
      color: $color-primary;
      font-family: 'Poppins', sans-serif;
      font-weight: 500;
      font-size: 14px;
      letter-spacing: 1px;
      text-transform: uppercase;
      display: block;
      user-select: none;
    }

    .description {
      margin-top: 20px;
      color: $color-heading;
      font-weight: 600;
      font-size: 23px;
      line-height: 34px;
      display: inline-block;
    }
  }
}