@import '../common/styles/sass/variables';

.mainBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;

    .title {
      margin-bottom: 50px;
      position: relative;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      color: $color-heading;
      font-family: $font-style;
      @media screen and (max-width: 488px) {
        font-size: 40px;
      }
    }

    .skillsBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      width: 70%;
      @media screen and (max-width: 1480px) {
        justify-content: center;
      }
    }

  }
}
