.mainBlock {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: #7ea87e;
}

.container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 100%;
}
.title {
    height: 5%;
}

.skillsBlock{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid;
    width: 100%;
}

@media screen and (max-width: 1480px) {
    .skillsBlock{
        justify-content: center;
    }
}

