.mainBlock {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 100vh;
    background-color: #ae95e5;
}

.container {
    border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.title {
    height: 5%;
}

.projectsBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid;
    width: 100%;
}

@media screen and (max-width: 1480px) {
    .projectsBlock{
        justify-content: center;
    }
}