@import '../common/styles/sass/variables';

.mainBlock {
  //border: 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 80vh;

  .container {
    margin-top: 50px;
    //border: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;

    .title {
      margin-bottom: 50px;
      position: relative;
      font-size: 32px;
      font-weight: 700;
      line-height: 1.2;
      color: $color-heading;
      font-family: $font-style;
      @media screen and (max-width: 488px) {
        font-size: 40px;
      }
    }

    .projectsBlock {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      //border: 1px solid;
      width: 100%;
      @media screen and (max-width: 1480px) {
        justify-content: center;
      }
    }
  }
}




